@font-face {
    font-family: 'LatinModern';
    src: url('lm-regular.otf');
    font-weight: normal;
    font-style: normal;
}
@media print {
    :root {
        --font-size: 15px;
        --h1-size: 30px;
        --h2-size: 27px;
        --h3-size: 24px;
        --h4-size: 21px;
        --h5-size: 18px;
        --header-size: 37px;
        --tiny-size: 12px;
    }
    header, .site-map, .toc, .page-header-utils {
        display: none;
    }
    .page * {
        color: black;
        font-family: 'LatinModern';
    }
    .page {
        width: 100vw;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .content-container {
        margin: 0;
        padding: 0;
    }
    .flex-container {
        margin: 0;
        padding: 0;
    }
    footer .flex-container {
        display: none;
    }
    blockquote {
        width: 95%;
        box-shadow: none;
        border-image: none;
        border-left-color: black;
    }
}