body::-webkit-scrollbar, .site-map::-webkit-scrollbar, #search-results::-webkit-scrollbar, .toc::-webkit-scrollbar, .table-container::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb, .site-map::-webkit-scrollbar-thumb, #search-results::-webkit-scrollbar-thumb, .table-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-track, .site-map::-webkit-scrollbar-track, #search-results::-webkit-scrollbar-track, .table-container::-webkit-scrollbar-track {
  background-color: transparent;
}
body, .site-map, #search-results, .toc, .table-container {
  scrollbar-width: none;
}
body, .site-map, #search-results, .toc, .table-container {
  overflow: -moz-scrollbars-none;
}