#search-btn {
    display: none;
}
.header-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.header-search i {
    color: var(--bg-clr3);
}
.header-search input {
    border-radius: 400em;
    font-size: var(--font-size);
    padding: .4em 1em;
    border: var(--border);
    width: 35vw;
    background-color: var(--bg-clr2);
    color: var(--txt-clr);
}
#close-search-btn {
    background-color: var(--bg-clr2);
    border: none;
    font-size: var(--font-size);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#close-search-btn:hover i {
    cursor: pointer;
    color: var(--bg-clr6);
}
.search-results-container {
    margin: 0 auto;
    display: none;
    width: 35vw;
}
#search-results {
    display: block;
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
}
.search-result {
    margin-bottom: 1em;
}
.search-result-title {
    font-family: var(--font-ex);
    font-size: var(--h4-size);
}
.search-result-path {
    font-size: var(--tiny-size);
    color: var(--txt-clr2);
    font-style: italic;
}
.search-result-section-container {
    color: var(--bg-clr6);
}
#not-found-message {
    text-align: center;
    color: var(--bg-clr3);
}
.search-toggled .search-results-container {
    width: 100%;
    max-height: 400px;
    overflow: auto;
}
.search-toggled .header-search, .search-toggled .header-search-container {
    display: flex;
    width: 100%;
}
.search-toggled .header-search input {
    width: 87vw;
}
.search-toggled #close-search-btn {
    display: flex;
}

@media (max-width:680px) {
    #search-btn {
        display: flex;
    }
    .header-search {
        display: none;
    }
}