.site-map {
    width: 25%;
    height: fit-content;
    position: sticky;
    top: 6em;
    display: block;
    overflow: auto;
    max-height: 82vh;
}
.site-map .flex-container {
    justify-content: space-between;
    align-items: center;
}
#site-map-untoggle-btn {
    display: none;
}
.site-map.toggled #site-map-untoggle-btn {
    display: flex;
}
.section-content {
    padding-left: 1em;
    display: none;
}
.site-map-section {
    display: flex;
    flex-direction: column;
    margin-bottom: .1em;
}
.section-button {
    width: fit-content;
    font-size: var(--font-size);
    background-color: var(--bg-clr2);
    color: var(--txt-clr2);
    border: none;
    text-align: left;
}
.section-button:hover {
    cursor: pointer;
    color: var(--txt-clr);
}
.section-icon {
    font-size: var(--tiny-size);
}
.note-link {
    text-decoration: none;
    font-size: var(--tiny-size);
}

.site-map-section.toggled > .section-button-container > .section-button {
    color: var(--txt-clr);
}
.site-map-section.toggled > .section-content {
    display: block;
}
.site-map.toggled {
    display: block;
    position: absolute;
    width: 95vw;
    top: 2em;
    z-index: 999;
}

@media (max-width:980px) {
    .site-map {
        display: none;
    }
}