.toc {
    display: block;
    overflow: auto;
    position: sticky;
    top: 6em;
    width: 25%;
    height: fit-content;
    max-height: 82vh;
}
.toc ul {
    counter-reset: item;
    list-style-type: none;
    padding-bottom: 0;
}
.toc li {
    padding-bottom: 0;
}
.toc li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
    color: var(--txt-clr);
}
.toc a {
    color: var(--txt-clr);
    text-decoration: none;
}
.toc a:hover, .highlighted {
    background: linear-gradient(to right, var(--accent-clr-a1), var(--accent-clr-b1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}
.toc a:active {
    background: linear-gradient(to right, var(--accent-clr-a2), var(--accent-clr-b2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.toc-content {
    width: 100%;
    font-size: var(--tiny-size);
}
#toc-toggle-btn {
    display: none;
}
.toc .flex-container {
        justify-content: space-between;
        align-items: center;
    }


@media (max-width:1100px) {
    .toc {
        width: 100%;
        max-height: 30vh;
        position: initial;
    }
    #toc-toggle-btn {
        display: flex;
    }
    .toc-content {
        display: none;
    }
    .toggled .toc-content {
        display: block;
    }
}