<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Osoba</th>
                <th>Psát</th>
                <th>Přát si</th>
                <th>Rozhodnout se</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="4">Singulár</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>psal bych</td>
                <td>přál bych si</td>
                <td>abych se rozhodnul</td>
            </tr>
            <tr>
                <th>2</th>
                <td>psal bys</td>
                <td>přál by sis</td>
                <td>aby ses rozhodl</td>
            </tr>
            <tr>
                <th>3</th>
                <td>psal by</td>
                <td>přál by si</td>
                <td>aby se rozhodl</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4">Plurál</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>psali bychom</td>
                <td>přáli bychom si</td>
                <td>abychom se rozhodli</td>
            </tr>
            <tr>
                <th>2</th>
                <td>psali byste</td>
                <td>přáli byste si</td>
                <td>abyste se rozhodli</td>
            </tr>
            <tr>
                <th>3</th>
                <td>psali by</td>
                <td>přáli by si</td>
                <td>aby se rozhodli</td>
            </tr>
        </tbody>
        <caption>Časování sloves v podmiňovácím způsobu</caption>
    </table>
</div>