<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th rowspan="2" class="center">Základní tvar</th>
                <th colspan="2">Mužský rod</th>
                <th colspan="2">Ženský rod</th>
                <th colspan="2">Střední rod</th>
            </tr>
            <tr class="center">
                <th>Singulár</th>
                <th>Plurál</th>
                <th>Singulár</th>
                <th>Plurál</th>
                <th>Singulár</th>
                <th>Plurál</th>
        </thead>
        <tbody class="center">
            <tr>
                <th>ťastný</th>
                <td>šťasten</td>
                <td>šťastni/šťastny</td>
                <td>šťastna</td>
                <td>šťastny</td>
                <td>šťastno</td>
                <td>šťastna</td>
            </tr>
            <tr>
                <th>ád</th>
                <td>rád</td>
                <td>rádi/rády</td>
                <td>ráda</td>
                <td>rády</td>
                <td>rádo</td>
                <td>ráda</td>
            </tr>
            <tr>
                <th>inný</th>
                <td>vinen</td>
                <td>vinni/vinny</td>
                <td>vinna</td>
                <td>vinny</td>
                <td>vinno</td>
                <td>vinna</td>
            </tr>
        </tbody>
        <caption>Jmenné tvary přídavných jmen</caption>
    </table>
</div>