<div class="table-container">
    <table class="note-table">
        <tbody>
            <tr>
                <th>Jméno autora</th>
                <td class="bf">Thomas Hobbes</td>
                <td class="bf">John Lock</td>
                <td class="bf">Jean Jacques Rousseau</td>
            <tr>
            <tr>
                <th>Život</th>
                <td>1588 - 1679</td>
                <td>1632 - 1704</td>
                <td>1712 - 1778</td>
            <tr>
            <tr>
                <th>Dílo</th>
                <td>Leviathan</td>
                <td>Dvě pojednání o vládě</td>
                <td>O společenské smlouvě</td>
            <tr>
            <tr>
                <th>Historická situace</th>
                <td>spory krále o parlament, občanská válka</td>
                <td>vznik konstituční monarchie v Anglii</td>
                <td>absolutismus ve Francii</td>
            <tr>
            <tr>
                <th>Přirozený stav</th>
                <td>"válka všech proti všem"</td>
                <td>"stav dokonalé svobody a rovnosti"</td>
                <td>"stav přirozené harmonie"</td>
            <tr>
            <tr>
                <th>Důvod uzavření smlouvy</th>
                <td>ochrana lidí před vnějším nepřítelem i před křivdami uvnitř země</td>
                <td>ochrana života, svobody a majetku</td>
                <td>zachování svobody</td>
            <tr>
            <tr>
                <th>Společenská smlouva</th>
                <td>"Vzdávám se svého prává vládnout sobě a odevzdávám toto právo tomuto muži nebo sboru mužů, jestliže jim také ty odevzdáš své právo a stejně jako já je zplnomocníš ke všemu a uznáváš jejich činy za své."</td>
                <td>"Politická společnost je tam a pouze tam, kde se každý z členů vzdal přirozené moci chránit vlastnictví (tj. život, svobodu a jmění) a za tím účelem trestat přestupky a odevzdávají ji do rukou společnosti."</td>
                <td>"Každý člen dává svou osobu a všechnu svou moc pod nejvyšší řízení obecné vůle a každý ji také příjimán jako neoddělitelná část celku."</td>
            <tr>
            <tr>
                <th>Uspořádání státu</th>
                <td>absolutní monarchie</td>
                <td>konstituční monarchie</td>
                <td>přímá demokracie, diktatura obecné vůle</td>
            <tr>
            <tr>
                <th>schéma uspořádání státu</th>
                <td>panovník > stát</td>
                <td>panovník = parlament > stát</td>
                <td>obecná vůle = stát</td>
            <tr>
            <tr>
                <th>Vliv na teorie</th>
                <td>Fašismus</td>
                <td>Zastupitelská monarchie</td>
                <td>Komunismus</td>
            <tr>
        </tbody>
        <caption>Koncepce společenské smlouvy</caption>
    </table>
</div>