<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>Podmět několikanásobný</th>
                <th>Koncovka v příčestí</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>alespoň jedno podstatné jkéno v rodě mužském životném (<em>dámy a pánové</em>)</td>
                <td>-i</td>
            </tr>
            <tr>
                <td>žádné podstatné jméno v rodě mužském životném a alespoň jedno podstatné jméno v rodě mužském neživotném nebo v rodě ženském (<em>hory  a lesy</em>)</td>
                <td>-y</td>
            </tr>
            <tr>
                <td>všechna podstatná jména v rodě středním v množném čísle (<em>koťata a štěnata</em>)</td>
                <td>-a</td>
            </tr>
            <tr>
                <td>všechna podstatná jména v rodě středním  a alespoň jedno z nich v jednotném čísle (<em>koťata a štěně</em>)</td>
                <td>-y</td>
            </tr>
        </tbody>
        <caption>Shoda podmětu s několikanásobným podmětem</caption>
    </table>
</div>