<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>Podmět v množném čísle</th>
                <th>Koncovka příčestí</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>rod mužský životný (<em>chlapci, občané</em>)</td>
                <td>-i</td>
            </tr>
            <tr>
                <td>rod mužský neživotný (<em>domy, zástupy</em>)</td>
                <td>-y</td>
            </tr>
            <tr>
                <td>rod ženský (<em>dívky, závodnice</em>)</td>
                <td>-y</td>
            </tr>
            <tr>
                <td>rod střední (<em>auta, náměstí</em>)</td>
                <td>-a</td>
            </tr>
        </tbody>
        <caption>Shoda přísudku s holým nebo rozvitým podmětem</caption>
    </table>
</div>