<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th rowspan="2">Pád</th>
                <th colspan="2" class="center">Mužský rod</th>
                <th colspan="2">Ženský rod</th>
                <th colspan="2">Střední rod</th>
            </tr>
            <tr class="center">
                <th>Singulár</th>
                <th>Plurál</th>
                <th>Singulár</th>
                <th>Plurál</th>
                <th>Singulár</th>
                <th>Plurál</th>
            </tr>
        </thead>
        <tbody class="center">
            <tr>
                <th>1</th>
                <td>mladý</td>
                <td>mladí</td>
                <td>mladá</td>
                <td>mladé</td>
                <td>mladé</td>
                <td>mladá</td>
            </tr>
            <tr>
                <th>2</th>
                <td>mladého</td>
                <td>mladých</td>
                <td>mladé</td>
                <td>mladých</td>
                <td>mladého</td>
                <td>mladých</td>
            </tr>
            <tr>
                <th>3</th>
                <td>mladému</td>
                <td>mladým</td>
                <td>mladé</td>
                <td>mladým</td>
                <td>mladému</td>
                <td>mladým</td>
            </tr>
            <tr>
                <th>4</th>
                <td>mladého</td>
                <td>mladé</td>
                <td>mladou</td>
                <td>mladé</td>
                <td>mladé</td>
                <td>mladá</td>
            </tr>
            <tr>
                <th>5</th>
                <td>mladý!</td>
                <td>mladí!</td>
                <td>mladá!</td>
                <td>mladé!</td>
                <td>mladé!</td>
                <td>mladá!</td>
            </tr>
            <tr>
                <th>6</th>
                <td>mladém</td>
                <td>mladých</td>
                <td>mladé</td>
                <td>mladých</td>
                <td>mladém</td>
                <td>mladých</td>
            </tr>
            <tr>
                <th>7</th>
                <td>mladému</td>
                <td>mladými</td>
                <td>mladou</td>
                <td>mladými</td>
                <td>mladým</td>
                <td>mladými</td>
            </tr>
        </tbody>
        <caption>Skloňvání přídavných jmen tvrdých</caption>
    </table>
</div>