<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Mužský rod</th>
                <th>Ženský rod</th>
                <th>Střední rod</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="4">Singulár</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>můj</td>
                <td>má/moje</td>
                <td>mé/moje</td>
            </tr>
            <tr>
                <th>2</th>
                <td>mého</td>
                <td>mé/mojí</td>
                <td>mého</td>
            </tr>
            <tr>
                <th>3</th>
                <td>mému</td>
                <td>mé/mojí</td>
                <td>mému</td>
            </tr>
            <tr>
                <th>4</th>
                <td>mého/můj</td>
                <td>mou/moji</td>
                <td>mé/moje</td>
            </tr>
            <tr>
                <th>5</th>
                <td>můj</td>
                <td>má/moje</td>
                <td>mé/moje</td>
            </tr>
            <tr>
                <th>6</th>
                <td>mém</td>
                <td>mé/mojí</td>
                <td>mém</td>
            </tr>
            <tr>
                <th>7</th>
                <td>mým</td>
                <td>mou/mojí</td>
                <td>mým</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4">Plurál</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>mí/moji/mé/moje</td>
                <td>mé/moje</td>
                <td>má/moje</td>
            </tr>
            <tr>
                <th>2</th>
                <td colspan="3">mých</td>
            </tr>
            <tr>
                <th>3</th>
                <td colspan="3">mým</td>
            </tr>
            <tr>
                <th>4</th>
                <td colspan="2">mé/moje</td>
                <td>má/moje</td>
            </tr>
            <tr>
                <th>5</th>
                <td>mí/moji/mé/moje</td>
                <td>mé/moje</td>
                <td>má/moje</td>
            </tr>
            <tr>
                <th>6</th>
                <td colspan="3">mých</td>
            </tr>
            <tr>
                <th>7</th>
                <td colspan="3">mými</td>
            </tr>
        </tbody>
        <caption>Skloňování zájmen přivlastňovacích 'můj', 'tvůj' a 'svůj'</caption>
    </table>
</div>