<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th rowspan="2" class="center">Pád</th>
                <th colspan="2">Mužský rod</th>
                <th colspan="2">Ženský rod</th>
                <th colspan="2">Střední rod</th>
            </tr>
            <tr class="center">
                <th>Singulár</th>
                <th>Plurál</th>
                <th>Singulár</th>
                <th>Plurál</th>
                <th>Singulár</th>
                <th>Plurál</th>
            </tr>
        </thead>
        <tbody class="center">
            <tr>
                <th>1</th>
                <td>matčin</td>
                <td>matčini</td>
                <td>matčina</td>
                <td>matčiny</td>
                <td>matčino</td>
                <td>matčina</td>
            </tr>
            <tr>
                <th>2</th>
                <td>matčina</td>
                <td>matčiných</td>
                <td>matčiny</td>
                <td>matčiných</td>
                <td>matčina</td>
                <td>matčiných</td>
            </tr>
            <tr>
                <th>3</th>
                <td>matčinu</td>
                <td>matčiným</td>
                <td>matčině</td>
                <td>matčiným</td>
                <td>matčinu</td>
                <td>matčiným</td>
            </tr>
            <tr>
                <th>4</th>
                <td>matčina</td>
                <td>matčiny</td>
                <td>matčinu</td>
                <td>matčiny</td>
                <td>matčino</td>
                <td>matčina</td>
            </tr>
            <tr>
                <th>5</th>
                <td>matčin!</td>
                <td>matčini!</td>
                <td>matčino!</td>
                <td>matčiny!</td>
                <td>matčino!</td>
                <td>matčina!</td>
            </tr>
            <tr>
                <th>6</th>
                <td>matčinu</td>
                <td>matčiných</td>
                <td>matčině</td>
                <td>matčiných</td>
                <td>matčině</td>
                <td>matčiných</td>
            </tr>
            <tr>
                <th>7</th>
                <td>matčiným</td>
                <td>matčinými</td>
                <td>matčinou</td>
                <td>matčinými</td>
                <td>matčiným</td>
                <td>matčinými</td>
            </tr>
        </tbody>
        <caption>Skloňování přídavných jmen přivlastňovacích (vzor 'matčin')</caption>
    </table>
</div>