<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Oči</th>
                <th>Uši</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>oči</td>
                <td>uši</td>
            </tr>
            <tr>
                <th>2</th>
                <td>očí</td>
                <td>uší</td>
            </tr>
            <tr>
                <th>3</th>
                <td>očím</td>
                <td>uším</td>
            </tr>
            <tr>
                <th>4</th>
                <td>oči</td>
                <td>uši</td>
            </tr>
            <tr>
                <th>6</th>
                <td>očích</td>
                <td>uších</td>
            </tr>
            <tr>
                <th>7</th>
                <td>očima</td>
                <td>ušima</td>
            </tr>
        </tbody>
        <caption>Skloňování podstatných jmen 'oči' a 'uši'</caption>
    </table>
</div>