<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Mužský rod</th>
                <th>Ženský rod</th>
                <th>Střední rod</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="4">Singulár</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>on</td>
                <td>ona</td>
                <td>ono</td>
            </tr>
            <tr>
                <th>2</th>
                <td>jeho/ho/jej</td>
                <td>jí</td>
                <td>jeho/ho/jej</td>
            </tr>
            <tr>
                <th>3</th>
                <td>jemu/mu</td>
                <td>jí</td>
                <td>jemu/mu</td>
            </tr>
            <tr>
                <th>4</th>
                <td>jeho/ho</td>
                <td>ji</td>
                <td>ho/jej</td>
            </tr>
            <tr>
                <th>6</th>
                <td>něm</td>
                <td>ní</td>
                <td>něm</td>
            </tr>
            <tr>
                <th>7</th>
                <td>jím</td>
                <td>jí</td>
                <td>jím</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4">Plurál</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>oni/ony</td>
                <td>ony</td>
                <td>ona</td>
            </tr>
            <tr>
                <th>2</th>
                <td colspan="3">jich</td>
            </tr>
            <tr>
                <th>3</th>
                <td colspan="3">jim</td>
            </tr>
            <tr>
                <th>4</th>
                <td colspan="3">je</td>
            </tr>
            <tr>
                <th>6</th>
                <td colspan="3">nich</td>
            </tr>
            <tr>
                <th>7</th>
                <td colspan="3">jimi</td>
            </tr>
        </tbody>
        <caption>Skloňování zájmen osobních 'on', 'ona' a 'ono'</caption>
    </table>
</div>