<table class="note-table center">
    <thead>
        <tr>
            <th>Pád</th>
            <th>Singulár</th>
            <th>Plurál</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>idea</td>
            <td>idey/ideje</td>
        </tr>
        <tr>
            <th>2</th>
            <td>idey/ideje</td>
            <td>idejí</td>
        </tr>
        <tr>
            <th>3</th>
            <td>ideji</td>
            <td>ideám/idejím</td>
        </tr>
        <tr>
            <th>4</th>
            <td>ideu</td>
            <td>idey/ideje</td>
        </tr>
        <tr>
            <th>6</th>
            <td>ideji</td>
            <td>ideách/idejích</td>
        </tr>
        <tr>
            <th>7</th>
            <td>ideou/idejí</td>
            <td>ideami/idejemi</td>
        </tr>
    </tbody>
    <caption>Skloňování podstatných jmen rodu ženského typu idea</caption>
</table>