<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th rowspan="2" class="center">Pád</th>
                <th colspan="2">Mužský rod</th>
                <th colspan="2">Ženský rod</th>
                <th colspan="2">Střední rod</th>
            </tr>
            <tr class="center">
                <th>Singulár</th>
                <th>Plurál</th>
                <th>Singulár</th>
                <th>Plurál</th>
                <th>Singulár</th>
                <th>Plurál</th>
            </tr>
        </thead>
        <tbody  class="center">
            <tr>
                <th>1</th>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
            </tr>
            <tr>
                <th>2</th>
                <td>jarního</td>
                <td>jarních</td>
                <td>jarní</td>
                <td>jarních</td>
                <td>jarního</td>
                <td>jarních</td>
            </tr>
            <tr>
                <th>3</th>
                <td>jarnímu</td>
                <td>jarním</td>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
            </tr>
            <tr>
                <th>4</th>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
                <td>jarní</td>
            </tr>
            <tr>
                <th>5</th>
                <td>jarní!</td>
                <td>jarní!</td>
                <td>jarní!</td>
                <td>jarní!</td>
                <td>jarní!</td>
                <td>jarní!</td>
            </tr>
            <tr>
                <th>6</th>
                <td>jarním</td>
                <td>jarních</td>
                <td>jarní</td>
                <td>jarních</td>
                <td>jarním</td>
                <td>jarních</td>
            </tr>
            <tr>
                <th>7</th>
                <td>jarním</td>
                <td>jarními</td>
                <td>jarní</td>
                <td>jarními</td>
                <td>jarní</td>
                <td>jarními</td>
            </tr>
        </tbody>
        <caption>Skloňování přídavných jmen měkkých</caption>
    </table>
</div>