<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Mužský rod</th>
                <th>Ženský rod</th>
                <th>Střední rod</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>ten náš</td>
                <td>ta naše</td>
                <td>to naše</td>
            </tr>
            <tr>
                <th>2</th>
                <td>toho našeho</td>
                <td>té naší</td>
                <td>toho našeho</td>
            </tr>
            <tr>
                <th>3</th>
                <td>tomu našemu</td>
                <td>té naší</td>
                <td>toho našeho</td>
            </tr>
            <tr>
                <th>4</th>
                <td>ten náš</td>
                <td>tu naši</td>
                <td>to naše</td>
            </tr>
            <tr>
                <th>6</th>
                <td>tom našem</td>
                <td>té naší</td>
                <td>tom našem</td>
            </tr>
            <tr>
                <th>7</th>
                <td>tím naším</td>
                <td>tou naší</td>
                <td>tím naším</td>
            </tr>
        </tbody>
        <caption>Skloňování zájmen přivlastňovacích 'náš' a 'váš'</caption>
    </table>
</div>