<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Já</th>
                <th>Ty</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>já</td>
                <td>ty</td>
                <td></td>
            </tr>
            <tr>
                <th>2</th>
                <td>mě</td>
                <td>tebe</td>
                <td>sebe</td>
            </tr>
            <tr>
                <th>3</th>
                <td>mně/mi</td>
                <td>tobě/ti</td>
                <td>sobě/si</td>
            </tr>
            <tr>
                <th>4</th>
                <td>mě</td>
                <td>tebe/tě</td>
                <td>sebe/se</td>
            </tr>
            <tr>
                <th>6</th>
                <td>mně</td>
                <td>tobě</td>
                <td>sobě</td>
            </tr>
            <tr>
                <th>7</th>
                <td>mnou</td>
                <td>tebou</td>
                <td>sebou</td>
            </tr>
        </tbody>
        <caption>Skloňování zájmen osobních 'já', 'ty' a zvratného zájmene</caption>
    </table>
</div>