<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Mužský rod</th>
                <th>Ženský rod</th>
                <th>Střední rod</th>
            </tr>
            <tr>
                <th colspan="4">Singulár</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>jenž</td>
                <td>jež</td>
                <td>jež</td>
            </tr>
            <tr>
                <th>2</th>
                <td>jehož</td>
                <td>jíž</td>
                <td>jehož</td>
            </tr>
            <tr>
                <th>3</th>
                <td>jemuž</td>
                <td>jíž</td>
                <td>jemuž</td>
            </tr>
            <tr>
                <th>4</th>
                <td>jehož/jejž</td>
                <td>již</td>
                <td>jež</td>
            </tr>
            <tr>
                <th>6</th>
                <td>němuž</td>
                <td>níž</td>
                <td>němž</td>
            </tr>
            <tr>
                <th>7</th>
                <td>jímž</td>
                <td>jíž</td>
                <td>jímž</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4">Plurál</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>jíž/jež</td>
                <td>jež</td>
                <td>jež</td>
            </tr>
            <tr>
                <th>2</th>
                <td colspan="3">jichž</td>
            </tr>
            <tr>
                <th>3</th>
                <td colspan="3">jimž</td>
            </tr>
            <tr>
                <th>4</th>
                <td colspan="3">jež</td>
            </tr>
            <tr>
                <th>6</th>
                <td colspan="3">nichž</td>
            </tr>
            <tr>
                <th>7</th>
                <td colspan="3">jimiž</td>
            </tr>
        </tbody>
        <caption>Skloňování zájmene 'jenž'</caption>
    </table>
</div>