<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Ruce</th>
                <th>Nohy</th>
                <th>Kolena</th>
                <th>Ramena</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>ruce</td>
                <td>nohy</td>
                <td>kolena</td>
                <td>ramena</td>
            </tr>
            <tr>
                <th>2</th>
                <td>rukou</td>
                <td>nohou</td>
                <td>kolenou</td>
                <td>ramenou</td>
            </tr>
            <tr>
                <th>3</th>
                <td>rukám</td>
                <td>nohám</td>
                <td>kolenům</td>
                <td>ramenům</td>
            </tr>
            <tr>
                <th>4</th>
                <td>ruce</td>
                <td>nohy</td>
                <td>kolena</td>
                <td>ramena</td>
            </tr>
            <tr>
                <th>6</th>
                <td>rukou</td>
                <td>nohou</td>
                <td>kolenou</td>
                <td>ramenou</td>
            </tr>
            <tr>
                <th>7</th>
                <td>rukama</td>
                <td>nohama</td>
                <td>koleny</td>
                <td>rameny</td>
            </tr>
        </tbody>
        <caption>Skloňování podstatných jmen 'ruce', 'nohy', 'kolena' a 'ramena'</caption>
    </table>
</div>