<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Dva</th>
                <th>Oba</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>dva/dvě</td>
                <td>oba/obě</td>
            </tr>
            <tr>
                <th>2</th>
                <td>dvou</td>
                <td>obou</td>
            </tr>
            <tr>
                <th>3</th>
                <td>dvěma</td>
                <td>oběma</td>
            </tr>
            <tr>
                <th>4</th>
                <td>dva/dvě</td>
                <td>oba/obě</td>
            </tr>
            <tr>
                <th>6</th>
                <td>dvou</td>
                <td>obou</td>
            </tr>
            <tr>
                <th>7</th>
                <td>dvěma</td>
                <td>oběma</td>
            </tr>
        </tbody>
        <caption>Skloňování číslovek 'dva' a 'oba'</caption>
    </table>
</div>