<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Tři</th>
                <th>Čtyři</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>tři</td>
                <td>čtyři</td>
            </tr>
            <tr>
                <th>2</th>
                <td>tří</td>
                <td>čtyř</td>
            </tr>
            <tr>
                <th>3</th>
                <td>třem</td>
                <td>čtyřem</td>
            </tr>
            <tr>
                <th>4</th>
                <td>tři</td>
                <td>čtyři</td>
            </tr>
            <tr>
                <th>6</th>
                <td>třech</td>
                <td>čtyřech</td>
            </tr>
            <tr>
                <th>7</th>
                <td>třemi</td>
                <td>čtyřmi</td>
            </tr>
        </tbody>
        <caption>Skloňování číslovek 'tři' a 'čtyři'</caption>
    </table>
</div>