<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th>Pád</th>
                <th>Prsa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>prsa</td>
            </tr>
            <tr>
                <th>2</th>
                <td>prsou</td>
            </tr>
            <tr>
                <th>3</th>
                <td>prsům</td>
            </tr>
            <tr>
                <th>4</th>
                <td>prsa</td>
            </tr>
            <tr>
                <th>6</th>
                <td>prsou</td>
            </tr>
            <tr>
                <th>7</th>
                <td>prsy</td>
            </tr>
        </tbody>
        <caption>Skloňování podstatného jména 'prsa'</caption>
    </table>
</div>