<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>Původní tvar</th>
                <th>Změna</th>
                <th>Příklad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>k</td>
                <td>č</td>
                <td>ruka -> ručka</td>
            </tr>
            <tr>
                <td>c</td>
                <td>č</td>
                <td>slepice -> slepičí</td>
            </tr>
            <tr>
                <td>h</td>
                <td>ž</td>
                <td>sníh -> sněžit</td>
            </tr>
            <tr>
                <td>ch</td>
                <td>š</td>
                <td>ucho -> ušní</td>
            </tr>
            <tr>
                <td>ž</td>
                <td>š</td>
                <td>vyrážka -> vyrašit</td>
            </tr>
            <tr>
                <td>s</td>
                <td>š</td>
                <td>myslet -> myšlení</td>
            </tr>
            <tr>
                <td>z</td>
                <td>ž</td>
                <td>vyrazit -> vyrážka</td>
            </tr>
            <tr>
                <td>t</td>
                <td>c</td>
                <td>utratit -> utrácet</td>
            </tr>
            <tr>
                <td>d</td>
                <td>z</td>
                <td>narodit se -> narozeniny</td>
            </tr>
        </tbody>
        <caption>Střídání souhlásek při odvozování s příklady</caption>
    </table>
</div>