<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>Kmen</th>
                <th>Podkmen</th>
                <th>Třída</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="8"><strong><a href="https://cs.wikipedia.org/wiki/M%C4%9Bkk%C3%BD%C5%A1i" target="_blank">Měkkýši</a></strong> (<em>Mollusca</em>)</td>
                <td rowspan="2"><strong><a href="https://cs.wikipedia.org/wiki/Papl%C5%BEi" target="_blank">Paplži</a></strong> (<em>Amphoneura</em>)</td>
                <td><a href="https://cs.wikipedia.org/wiki/Chroustnatky" target="_blank">Chroustnatky</a> (<em>Polyplacophora</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/%C4%8Cervovci" target="_blank">Červovci</a> (<em>Aplacophora</em>) - z části vymřelí</td>
            </tr>
            <tr>
                <td rowspan="6"><strong><a href="https://cs.wikipedia.org/wiki/Conchifera" target="_blank">Schránkovci</a></strong> (<em>Conchifera</em>)</td>
                <td><a href="https://cs.wikipedia.org/wiki/P%C5%99%C3%ADlipkovci" target="_blank">Přílipkovci</a> (<em>Monoplacophora</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/Pl%C5%BEi" target="_blank">Plži</a> (<em>Gastropoda</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/Hlavono%C5%BEci" target="_blank">Hlavonožci</a> (<em>Cephalopoda</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/Rostrokonchy" target="_blank">Rostrokonchy</a> (<em>Rostroconchia</em>) - vymřelé</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/Ml%C5%BEi" target="_blank">Mlži</a> (<em>Bivalvia</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/Kelnatky" target="_blank">Kelnatky</a> (<em>Scaphopoda</em>)</td>
            </tr>
        </tbody>
        <caption>Systém měkkýšu</caption>
    </table>
</div>