<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>Třída</th>
                <th>Podtřída</th>
                <th>Proměna</th>
                <th>Řád</th>
                <th>Podřád</th>
                <th>Nižší taxon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="54"><strong><a href="https://cs.wikipedia.org/wiki/Hmyz" targ_blanket="_blank">Hmyz</a></strong> (<em>Insecta</em>)</td>
                <td rowspan="2"><strong>Bezkřídlí</strong> (<em>Apterygota</em>)</td>
                <td rowspan="16"><strong><a href="#proměna-nedokonalá-hemimetabolie">Nedokonalá</a></strong></td>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Chvostnatky" targ_blanket="_blank">Chovstnatky</a> (<em>Archaeognata</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/%C5%A0upinu%C5%A1ky" target="_blank">Šupinušky</a> (<em>Thysanura</em>)</td>
            </tr>
            <tr>
                <td rowspan="52"><strong><a href="https://cs.wikipedia.org/wiki/K%C5%99%C3%ADdlat%C3%AD" target="_blank">Křídlatí</a></strong> (<em>Pterygoty</em>)</td>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Jepice" target="_blank">Jepice</a> (<em>Ephemeroptera</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="#vážky-odonata">Vážky</a> (<em>Odonata</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Po%C5%A1vatky" target="_blank">Pošvatky</a> (<em>Plecoptera</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/%C5%A0v%C3%A1bi" target="_blank">Švábi</a> (<em>Blattodea</em>)</td>
                <td colspan="2"><a href="https://cs.wikipedia.org/wiki/Termiti" target="_blank">Všekazi</a> (<em>Isoptera</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="#škvoři-dermoptera">Škvoři</a> (<em>Dermaptera</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Kudlanky" target="_blank">Kudlanky</a> (<em>Mantodea</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Stra%C5%A1ilky" target="_blank">Strašilky</a> (<em>Phasmotodea</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Rovnok%C5%99%C3%ADdl%C3%AD" target="_blank">Rovnokřídlí</a> (<em>Orthoptera</em>)</td>
            </tr>
            <tr>
                <td rowspan="2"><a href="https://cs.wikipedia.org/wiki/Pisivky" target="_blank">Pisivky</a> (<em>Psocoptera</em>)</td>
                <td colspan="2"><a href="https://cs.wikipedia.org/wiki/V%C5%A1enky" target="_blank">Všenky</a> (<em>Mallophaga</em>)</td>
            </tr>
            <tr>
                <td colspan="2"><a href="https://cs.wikipedia.org/wiki/V%C5%A1i" target="_blank">Vši</a> (<em>Anoplura</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/T%C5%99%C3%A1snok%C5%99%C3%ADdl%C3%AD" target="_blank">Třásnokřídlí</a> (<em>Thysanoptera</em>)</td>
            </tr>
            <tr>
                <td rowspan="3"><a href="https://cs.wikipedia.org/wiki/Polok%C5%99%C3%ADdl%C3%AD" target="_blank">Polokřídlí</a> (<em>Hemiptera</em>)</td>
                <td rowspan="2"><a href="https://cs.wikipedia.org/wiki/Stejnok%C5%99%C3%ADdl%C3%AD" target="_blank">Stejnokřídlí</a> (<em>Homoptera</em>)</td>
                <td><a href="https://cs.wikipedia.org/wiki/M%C5%A1ice" target="_blank">Mšice</a> (<em>Aphidoidea</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/%C4%8Cervci" target="_blank">Červci</a> (<em>Coccoidea</em>)</td>
            </tr>
            <tr>
                <td colspan="2"><a href="https://cs.wikipedia.org/wiki/Plo%C5%A1tice" target="_blank">Ploštice</a> (<em>Heteroptera</em>)</td>
            </tr>
            <tr>
                <td rowspan="38"><strong><a href="#proměna-dokonalá-holometabolie">Dokonalá</a></strong></td>
                <td colspan="3"><a href="#síťokřídlí-neuroptera">Síťokřídlí</a> (<em>Neuroptera</em>)</td>
            </tr>
            <tr>
                <td rowspan="10"><a href="https://cs.wikipedia.org/wiki/Blanok%C5%99%C3%ADdl%C3%AD" target="_blank">Blanokřídlí</a> (<em>Hymenoptera</em>)</td>
                <td colspan="2"><a href="https://cs.wikipedia.org/wiki/%C5%A0iropas%C3%AD" target="_blank">Širopasí</a> (<em>Symphyta</em>)</td>
            </tr>
            <tr>
                <td rowspan="9"><a href="https://cs.wikipedia.org/wiki/%C5%A0t%C3%ADhlopas%C3%AD" target="_blank">Štíhlopasí</a> (<em>Apocrita</em>)</td>
            </tr>
            <tr>
                <td>Žlabatky (<em>Cynipoidea</em>)</td>
            </tr>
            <tr>
                <td>Lumci (<em>Ichneumonoidea</em>)</td>
            </tr>
            <tr>
                <td>Žihadlovití</td>
            </tr>
            <tr>
                <td>Kutilky</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/V%C4%8Dely" target="_blank">Včely</a> (<em>Apoidea</em>)</td>
            </tr>
            <tr>
                <td>Mravenci</td>
            </tr>
            <tr>
                <td>Vosy (a sršně)</td>
            </tr>
            <tr>
                <td>Čmeláci</td>
            </tr>
            <tr>
                <td rowspan="22"><a href="https://cs.wikipedia.org/wiki/Brouci" target="_blank">Brouci</a> (<em>Coleoptera</em>)</td>
            </tr>
            <tr>
                <td rowspan="3"><a href="https://cs.wikipedia.org/wiki/Maso%C5%BErav%C3%AD" target="_blank">Masožraví</a> (<em>Adephaga</em>)</td>
                <td><a href="https://cs.wikipedia.org/wiki/Svi%C5%BEn%C3%ADkovit%C3%AD" target="_blank">Svížnikovité</a> (<em>Cicindelidae</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/St%C5%99evl%C3%ADkovit%C3%AD" target="_blank">Střevlíkovití</a> (<em>Carabidae</em>)</td>
            </tr>
            <tr>
                <td><a href="https://cs.wikipedia.org/wiki/Pot%C3%A1pn%C3%ADkovit%C3%AD" target="_blank">Potápníkovití</a> (<em>Dysticidae</em>)</td>
            </tr>
            <tr>
                <td rowspan="18"><a href="https://cs.wikipedia.org/wiki/V%C5%A1e%C5%BErav%C3%AD" target="_blank">Všežraví</a> (<em>Polyphaga</em>)</td>
            </tr>
            <tr>
                <td>Vodomilovití (<em>Hydrophilidae</em>)</td>
            </tr>
            <tr>
                <td>Mrchožrouti (<em>Silphidae</em>)</td>
            </tr>
            <tr>
                <td>Drabčíkovití (<em>Staphylinidae</em>)</td>
            </tr>
            <tr>
                <td>Světluškovití (<em>Lampyridae</em>)</td>
            </tr>
            <tr>
                <td>Kováříkovití (<em>Elateridae</em>)</td>
            </tr>
            <tr>
                <td>Krascovití (<em>Buprestidae</em>)</td>
            </tr>
            <tr>
                <td>Kožojedovití (<em>Dermistidae</em>)</td>
            </tr>
            <tr>
                <td>Slunéčkovití (<em>Coccinellidae</em>)</td>
            </tr>
            <tr>
                <td>Červotočovití (<em>Anobiidae</em>)</td>
            </tr>
            <tr>
                <td>Majkovití (<em>Maloidae</em>)</td>
            </tr>
            <tr>
                <td>Potemníkovití (<em>Terebrionidae</em>)</td>
            </tr>
            <tr>
                <td>Roháčovití (<em>Lucanidae</em>)</td>
            </tr>
            <tr>
                <td>Vrubounovití (<em>Scarabaeidae</em>)</td>
            </tr>
            <tr>
                <td>Tesaříkovití (<em>Cerymbycidae</em>)</td>
            </tr>
            <tr>
                <td>Mandelinkovití (<em>Chrysomelidae</em>)</td>
            </tr>
            <tr>
                <td>Nosatcovití (<em>Curculionidae</em>)</td>
            </tr>
            <tr>
                <td>Kůrovcovití (<em>Ipidae</em>)</td>
            </tr>
            <tr>
                <td rowspan="2"><a href="#dvoukřídlí-diptera">Dvoukřídlí</a> (<em>Diptera</em>)</td>
                <td colspan="2">Dlouhorozí</td>
            </tr>
            <tr>
                <td colspan="2">Krátkorozí</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Blechy" target="_blank">Blechy</a> (<em>Aphaniptera</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Chrost%C3%ADci" target="_blank">Chrostíci</a> (<em>Trichoptera</em>)</td>
            </tr>
            <tr>
                <td colspan="3"><a href="https://cs.wikipedia.org/wiki/Mot%C3%BDli" target="_blank">Motýli</a> (<em>Lepidoptera</em>)</td>
            </tr>
        </tbody>
        <caption>Systém hmyzu</caption>
    </table>
</div>