<div class="flex-container">
    <button id="footer-go-up-btn" class="icon-button footer-button" onclick="window.scrollTo(0,0)">
        <i id="footer-go-up-icon" class="fa-solid fa-arrow-up"></i>
    </button>
    <a class="footer-link" href="/">Home</a>
    <a class="footer-link" href="/about-my-notes">About my notes</a>
    <a class="footer-link" href="/updates/">Updates</a>
    <a class="footer-link" href="https://github.com/pgersl/personal-website-notes" target="_blank">GitHub</a>
</div>
<div class="footer-copy">
    &copy;{{dateFormat "2006" now}} <a class="footer-link" href="https://pgersl.xyz/" target="_blank">Petr Geršl</a>
</div>