<title>{{.Title}}</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
<link rel="manifest" href="/fav/site.webmanifest">

<link rel="stylesheet" type="text/css" href="/css/root.css">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/scrollbar.css">
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/site-map.css">
<link rel="stylesheet" type="text/css" href="/css/page.css">
<link rel="stylesheet" type="text/css" href="/css/toc.css">
<link rel="stylesheet" type="text/css" href="/css/printing.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<link rel="stylesheet" type="text/css" href="/css/list.css">
<link rel="stylesheet" type="text/css" href="/css/search.css">
<link rel="stylesheet" type="text/css" href="/css/loading.css">

<script type="text/javascript" src="/js/theme.js" defer></script>
<script type="text/javascript" src="/js/printing.js" defer></script>
<script type="text/javascript" src="/js/copy-link.js" defer></script>
<script type="text/javascript" src="/js/toc.js" defer></script>
<script type="text/javascript" src="/js/site-map.js" defer></script>
<script type="text/javascript" src="/js/search.js" defer></script>
<!-- <script type="text/javascript" src="/js/loading.js" defer></script> --->

<script src="https://kit.fontawesome.com/9ab7bfa7fc.js" crossorigin="anonymous"></script>
<script data-goatcounter="https://notespgersl.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
      };
      
</script>