<section class="site-map-section">
    {{$sectionTitle := .Title}}
    <div class="section-button-container">
        <button class="section-button">
            <i class="section-icon fa-solid fa-angle-right"></i> {{$sectionTitle}}
        </button>
    </div>
    <div class="section-content">
        {{$underPages := where .Site.Pages ".Params.section" "==" $sectionTitle }}
        {{range sort $underPages "Params.weight"}}
            {{if eq .Params.type "note"}}
                <div class="note-link-container">
                    <a href="{{ .RelPermalink }}" class="note-link">&#8226 {{.Title}}</a>
                </div>
            {{end}}
            {{if eq .Params.type "index"}}
                {{partial "site-map-section.html" .}}
            {{end}}
        {{end}}
    </div>
</section>